*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  height: 100vh;
  background: #000;
  color: rgb(241, 241, 241);
  font-family: 'Roboto Slab', serif;
}

img {
  max-height: 90vh;
  width: 100%;
  display: block;
  /* position: relative; */
}

.watch-container {
  /* background-color: aqua; */
  margin: 0 auto;
  max-width: 400px;
}

.output {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.date-container {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
}

.weekday {
  font-size: clamp(0.875rem, -0.875rem + 8.75vw, 1.3125rem);
  color: rgba(255, 255, 255, 0.8);
}
.date {
  font-size: clamp(1.1875rem, -0.3125rem + 7.5vw, 1.5625rem);
  font-weight: 600;
  color: rgba(255, 255, 255, 0.9);
}

.time {
  /* font-size: 5rem; */
  font-size: clamp(1.5625rem, -4.1875rem + 28.75vw, 3rem);
  font-weight: 500;
}
